<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyut.apps.gss.mapper.extend.CheckScholarshipMapper">

  <!--角色的基本映射-->
  <resultMap id="RoleResultMap" type="com.tyut.apps.gss.bean.Role">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="rname" jdbcType="VARCHAR" property="rname" />
  </resultMap>

  <!--班级的基本映射-->
  <resultMap id="ClaResultMap" type="com.tyut.apps.gss.bean.Cla">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
  </resultMap>

  <!--学院的基本映射-->
  <resultMap id="AcademyResultMap" type="com.tyut.apps.gss.bean.Academy">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="aname" jdbcType="VARCHAR" property="aname" />
  </resultMap>


  <!--奖学金的基本映射-->
  <resultMap id="ScholarshipResultMap" type="com.tyut.apps.gss.bean.Scholarship">
    <id column="scid" jdbcType="INTEGER" property="scid" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="base_id" jdbcType="INTEGER" property="baseId" />
  </resultMap>

  <!--详细信息的基本映射-->
  <resultMap id="DetailedResultMap" type="com.tyut.apps.gss.bean.Detailed">
    <id column="stid" jdbcType="INTEGER" property="stid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="bankcard" jdbcType="VARCHAR" property="bankcard" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="base_id" jdbcType="INTEGER" property="baseId" />
  </resultMap>

  <resultMap id="ResultMap" type="com.tyut.apps.gss.bean.extend.CheckScholarship" extends="BaseResultMap">
    <association property="role" resultMap="RoleResultMap"></association>
    <association property="cla" resultMap="ClaResultMap"></association>
    <association property="academy" resultMap="AcademyResultMap"></association>
    <association property="scholarship" resultMap="ScholarshipResultMap"></association>
    <association property="detailed" resultMap="DetailedResultMap"></association>
  </resultMap>



  <!--查询所有-->
  <select id="selectAll" resultMap="ResultMap">
    select bid,name,sno,gender,phone,qq,email,cname,aname,address,bankcard,idcard,grade,status,scid
    from base,roles,cla,academy,detailed,scholarship
    where bid = detailed.base_id and rid = r_id and cid = c_id and aid = a_id and bid = scholarship.base_id;
  </select>




  <resultMap id="BaseResultMap" type="com.tyut.apps.gss.bean.Base">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="sno" jdbcType="VARCHAR" property="sno" />
  </resultMap>

</mapper>